*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* /////////////////////Header//////////////////////////// */
.container-header
{    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}




/* /////////////////Navigation bar//////////////////////// */
nav{
    background-color: brown;
    display: flex;
    align-items: center;
    
}

nav section.navb{
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav section a{
    text-decoration: none;
    color: wheat;
    display: inline-block;
    justify-content: center;
    padding: 10px;
       
}

.icon img{
    align-items: center;
    margin-left: 25px;
}
.logo{
    position:relative;
    top:-500px;
    animation-name:moveInTop;
    animation-fill-mode: forwards;
    animation-duration:0.7s;
    animation-timing-function:ease-in-out;

}


/* ///////////////////////////////////////////////// */
body
{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ///////////////////////SECTION////////////////////////////// */

.herosection{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    text-transform: uppercase;
    letter-spacing: 1.1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./images/wallpapersden.com_apex-legends-season-4_1920x1080.jpg);
    background-size: cover;

}

.Hero_cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
    
    
}

#Hero1 {
    animation-name:fadeIn;
    animation-duration:1s;
    animation-delay:0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
#Hero2 {
    animation-name:fadeIn;
    animation-duration:1s;
    animation-delay:0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.Hero_cards section img{
    width: 100%;
    height: auto;
}
.Hero_cards h2{
    text-align: center;
    
}   


@media only screen and (min-width: 700px){
    .Hero_cards section{
        width: 60%;
    }
    

}
@media only screen and (min-width: 1048px){
    .Hero_cards section{
        width: 50%;
    }
}

@media only screen and (min-width: 1424px){
    .Hero_cards section{
        width: 25%;
    }
}
@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes moveInTop{
    from{top:-500px;}
    to{top:0px;}
    }

/* /////////////////FOOTER//////////////////////////////// */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}

