*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* /////////////////////Header//////////////////////////// */
.container-header
{    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}




/* /////////////////Navigation bar//////////////////////// */
#navi{

    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: coral;
}

#navi a
{
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color: black;
    text-decoration: none;
}

#navi a:hover{
    background-color: gray;
    color: red;
    border-radius: 10%;
}
/* ///////////////////////////////////////////////// */
body
{
    background-color: rgb(184, 181, 181);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* /////////////////FOOTER//////////////////////////////// */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}

