*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* /////////////////////Header//////////////////////////// */
.container-header
{    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}




/* /////////////////Navigation bar//////////////////////// */
nav{
    background-color: brown;
    display: flex;
}
nav section.navb{
    height: 100px;
}

nav section a{
    text-decoration: none;
    color: wheat;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin-top: 25px;
    
    
}


/* ///////////////////////////////////////////////// */
body
{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ///////////////////////SECTION////////////////////////////// */

.herosection{
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    text-transform: uppercase;
    letter-spacing: 1.1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./images/wallpapersden.com_apex-legends-season-4_1920x1080.jpg);
    background-size: cover;

}

.Hero_cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}   

.Hero_cards section img{
    width: 100%;
    height: auto;
}
.Hero_cards h2{
    text-align: center;
    
}   




/* /////////////////FOOTER//////////////////////////////// */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}

.menubutton{
    text-align:center;
    display:flex;
    align-items:center;
    padding:10px;
    background-color:teal;
    width:100px;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    border-radius:5px;
}
#mobilenav{
    display:flex;
    flex-direction:column;
}
#mobilenav a{
    width:100%;
    display:flex;
    justify-content:center;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid gray;
    
    text-decoration: none;
    color: blue;
}

nav#largemenu a{
    margin-right:10px;
    color:olive;
    font-size:15pt;
    text-decoration:none;
}
nav a:hover{
    color:peru;
}
nav#mobilenav a:hover{
    color:peru;
}

@media only screen and (min-width: 900px){
    .Hero_cards section{
        width: 60%;
    }
    #largemenu{
        display:none;
    }
    .menubutton, #mobilenav{
        display:block;
    }



}
@media only screen and (min-width: 945px){
    .Hero_cards section{
    width: 50%;
    }
    #largemenu{
        display:block;
    }
    .menubutton, #mobilenav{
        display:none;
    }
}

@media only screen and (max-width: 1424px){
    .Hero_cards section{
        width: 25%;
    }
    #largemenu{
        display:block;
    }
    .menubutton, #mobilenav{
        display:none;
    }
}

